<div class="panel panel-primary">
    <div class="panel-heading">Dropdowns</div>
    <div class="panel-body">
        <select class="form-control" type="number" [(ngModel)]="selectedYear" (ngModelChange)="toNumber()">
      <option *ngFor="let year of years" [ngValue]="year">{{year.value}}</option>
    </select>
    </div>
</div>

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
                    (tableChanged)="onChangeTable(config)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-10">
                    <div class='table-responsive'>
                        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                        </ng-table>

                        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                            [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                            (numPages)="numPages = $event">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
    </div>
    <br>

    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    <!--
<ng-table [columns]="columns" [rows]="rows" > </ng-table>-->